<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @registration.name %>
</p>

<p>
  <b>Operator name:</b>
  <%= @registration.operator_name %>
</p>

<p>
  <b>Operator email:</b>
  <%= @registration.operator_email %>
</p>

<p>
  <b>Loc str:</b>
  <%= @registration.loc_str %>
</p>

<p>
  <b>Latitude:</b>
  <%= @registration.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @registration.longitude %>
</p>

<p>
  <b>Owner:</b>
  <%= @registration.owner_id %>
</p>

<p>
  <b>Created by:</b>
  <%= @registration.created_by %>
</p>

<p>
  <b>Updated by:</b>
  <%= @registration.updated_by %>
</p>

