<%= form_for(@tinc) do |f| %>
  <% if @tinc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tinc.errors.count, "error") %> prohibited this tinc from being saved:</h2>

      <ul>
      <% @tinc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :node_id %><br />
    <%= f.number_field :node_id %>
  </div>
  <div class="field">
    <%= f.label :approved_at %><br />
    <%= f.datetime_select :approved_at %>
  </div>
  <div class="field">
    <%= f.label :approved_by %><br />
    <%= f.number_field :approved_by %>
  </div>
  <div class="field">
    <%= f.label :revoked_at %><br />
    <%= f.datetime_select :revoked_at %>
  </div>
  <div class="field">
    <%= f.label :revoked_by %><br />
    <%= f.number_field :revoked_by %>
  </div>
  <div class="field">
    <%= f.label :ip_adress %><br />
    <%= f.text_field :ip_adress %>
  </div>
  <div class="field">
    <%= f.label :certfp %><br />
    <%= f.text_field :certfp %>
  </div>
  <div class="field">
    <%= f.label :cert_data %><br />
    <%= f.text_area :cert_data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
