<% content_for(:head) do%>
<h1>Kennwort bestätigen</h1>
<% end %>
<h2>E-Mail erneut senden</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "E-Mail erneut senden" %></div>
<% end %>

<%= render "devise/shared/links" %>
