<h1>Listing users_groups</h1>

<table>
  <tr>
    <th>User</th>
    <th>Group</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users_groups.each do |users_group| %>
  <tr>
    <td><%= users_group.user_id %></td>
    <td><%= users_group.group_id %></td>
    <td><%= link_to 'Show', users_group %></td>
    <td><%= link_to 'Edit', edit_users_group_path(users_group) %></td>
    <td><%= link_to 'Destroy', users_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Users group', new_users_group_path %>
