<% content_for (:head) do%>
<h1>Node-Status</h1>
<% end %>

<h2>Status des Freifunk-Netzes</h2>

<table border="0" cellspacing="0" cellpadding="5">
	<tr>
		<th>Node</th>
		<th>VPN-Status</th>
		<th>Firmware-Version</th>
		<th>Konfigurations-Version</th>
		<th>VPN-Software</th>
		<th>Gültig ab</th>
		<th>&nbsp;</th> 
	</tr>
	
	<% for s in @node_statuses%>
	<tr class='<%= cycle "odd","even"%>'>
		<td class="monospaced"><%= s.node.mac%></td>
		<td class="monospaced"><span class='<%= "vpn_status#{s.vpn_status}" %>'><%= s.vpn_status%></span></td>
		<td class="monospaced"><%= s.fw_version%></td>
		<td class="monospaced"><%= s.initial_conf_version%></td>
		<td><%= s.vpn_sw_name%></td>
		<td><%= I18n.l s.created_at, :format => :short%></td>
		<td><%= link_to icon_tag('clock','Historie'), node_statuses_path(:node => s.node)%></td>
		
	</tr>
	<% end %>
</table>