
<% content_for(:head) do %>
<h1>Freifunk-Service </h1>
<% end %>

<% content_for(:javascript) do %>
	$(function() {
		$('div.node_map').each(function(index, value) { 
			var lat = $( value ).attr('lat')
			var lng = $( value ).attr('lng')
			if(lat!==""&&lng!==""){
				init_node_map(value, lat, lng)
			}
		});
	});
	
<% end %>




<h2>Willkommen</h2>
<% if signed_in? %>
	<fieldset class="reg_fieldset">
		<legend>Unbekannten Node registrieren</legend>
		Wird Dein Node nicht anhand Deiner IP gefunden, dann kannst Du die MAC-Adresse eingeben um ihn zu registrieren.<br />(Siehe Aufkleber Rückseite) 
		<p />
		<%= form_tag(new_node_registration_path, method: "get") do %>
  			<%= text_field_tag(:node_mac,'MAC-Adresse', :size => 17) %>
  			<%= submit_tag("Los") %>
		<% end %>
	</fieldset>

<% end %>

Willkommen auf <%= link_to 'https://register.kbu.freifunk.net' %>

<p>Auf dieser Seite stellen wir den Status des Freifunk-KBU-Netzes dar. Gleichzeitig können Nodes registriert werden. </p>

<p>
Die Registrierung Deines Nodes ist wichtig für die Teilnahme im Freifunk-Netz. Einerseits kannst Du den Standort Deines / Deiner Nodes auf einer Karte markieren, so dass von anderen gefunden werden kann. <br /> 
Andererseits ist für uns wichtig, Deine E-Mail Adresse zu kennen um Dich bei Problemen direkt anschreiben zu können. Gleichzeitig erhältst Du nach der Registrierung Informationen zu Updates, Problemen und Störungen per E-Mail.
</p>
<% unless signed_in?%>
<p>
Um einen Freifunk-Node zu registrieren musst Du Dich zuerst <%= link_to "anmelden", new_user_session_path %>.
</p>
<% end %>

<% unless request.ssl? %>
<div class="cacert_warning">
		<span class="bold">Achtung - CAcert</span><br />
		Zur Verschlüsselung wird ein <i>CAcert</i>-Zertifikat verwenden, dass nicht in allen Browser überprüft werden kann. <br />
		Daher kann es einigen Bereichen (z.B. Login) zu <span class="bold">Fehlern kommen</span>. <br />
		Details siehe <a href="http://de.wikipedia.org/wiki/CAcert#Vertrauensw.C3.BCrdigkeit"> Wikipedia</a>. <br />
		Nach Überprüfung des Zertifikats empfehlen wir die Anwendung per SSL zu benutzen. <br /><a href="https://register.kbu.freifunk.net">https://register.kbu.freifunk.net</a>
</div>
<% end %>
<% if @regable_nodes.size > 0 %>
	<h2>Eigene, unregistrierte Nodes</h2>
	<% if signed_in? %>
		Du kannst diese Node registrieren.
	<% else %>
		Unter Deiner IP sind diese unregistrierte Nodes verbunden. Logge Dich ein um sie zu registrieren.
	<% end %>
	<%= render :partial => 'shared/regable_nodes', :object =>  @regable_nodes %>
<% end %>
<p />


<% if @my_nodes.size > 0%>
	<h2>Eigene Nodes</h2>
	Deine Nodes haben diesen Status.
	<table>
		<th>Node</th>
		<th>Position</th>
		<th>Erreichbarkeit</th>
	    <!-- <th>Datendurchsatz</th> -->
		<%= render :partial => "shared/nodes_reg", :collection => @my_nodes %>
	</table>
<% end %>