<!DOCTYPE html>
<html>
<head>
  <title>Freifunk-Service</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<script type="text/javascript">
		<%= yield :javascript %>
	</script>
</head>
<body class="freifunk-yellow-bg">
<div id="header">
	<div id="head"><%= yield :head %></div>
	<div id="user-info">
	      <% if user_signed_in? %>
	        Angemeldet als: <%= current_user.email %> |
	        <%= link_to "Abmelden", destroy_user_session_path, :method => 'delete' %>
	| 		<%= link_to "Profil", edit_user_registration_path%>
	      <% else %>
	        <%= link_to "Registrieren", new_user_registration_path %> |
	        <%= link_to "Anmelden", new_user_session_path %>
	      <% end %>
	</div>
	<div id="logo" style="background-image: url(<%= image_path('banner.png') %>)">
		<%= image_tag("banner.png")%>
	</div>
	<div id="main-nav">
		<%# permitted_to? :index, :users do %>
			<%#= link_to "Benutzer", users_path %> |
		<%# end %>
		<%= link_to "Start", app_index_path%> |
		<%= link_to "Karte", map_app_index_path %> |
		<%= link_to "Nodes", nodes_path %> |
		<%= link_to "Fastd-Keys", fastds_path %> |
		<%= link_to "Watchdog", watchdog_bites_path %> |

	</div>
</div>
<div id="body" >
		<% if flash[:notice].present? %>
			<p id="flash_notice"><%= flash[:notice]%></p>
		<% end %>

		<% if flash[:error].present? %>
			<p id="flash_error">
				<%= flash[:error] %>
			</p>
		<% end %>

		<% if flash[:warn].present? %>
			<p id="flash_warn"><%= flash[:warn] %></p>
		<% end %>

		<% if flash[:alert].present? %>
			<p id="flash_alert"><%= flash[:alert] %></p>
		<% end %>
<%= yield %>
</div>
</body>
</html>
